@model IEnumerable<Set>

<table class="table table-striped table-bordered table-sm">
    <tr>
        <th class="text-right">ID</th>
        <th>Zawodnik 1</th>
        <th>Punkty</th>
        <th>Zawodnik 2</th>
        <th>Punkty</th>
        <th class="text-center">Akcje</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.SetID</td>
            <td>@item.Player1.Name @item.Player1.Surname</td>
            <td>@item.Player1Points</td>
            <td>@item.Player2.Name @item.Player2.Surname</td>
            <td>@item.Player2Points</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-setId="@item.SetID">
                        Edytuj
                    </a>
                    <input type="hidden" name="SetID" value="@item.SetID" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Usuń
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Dodaj set</a>
</div>